.button {
  cursor: pointer;
  margin: 1rem;
  width: 7rem;
  padding: 1rem 4rem 1rem 4rem;
  background: rgb(40, 101, 151);
  border-radius: 14px;
  color: whitesmoke;
}

.button:hover {
  background-color: rgb(8, 47, 78);
}
